<div class="pricing">
  <div class="container">

    <div class="bundle">
      <span class="title">
        <p class="pr">BUNDLE</p>
        <p class="jesfy">Suitable Bundles For You</p>
        <p class="ti">Select your suitable catering bundles easy</p>
      </span>
      <div class="pri">
        <div class="bld">
          <div class="price">
            <img src="../../../assets/images/pricing/Slice 1.png" alt="" class="square">
            <span class="topic">
              <p>Breakfast</p>
              <span>$15</span>/ pcs
            </span>
          </div>
          <ul>
            <li>Lorem Ipsum Dolor Sit Amet</li>
            <li>Ipmo Doj Samat</li>
            <li>Sed do eiusmod tempor</li>
          </ul>
          <div class="btn_case">
            <button>Add</button>
          </div>
        </div>
        <div class="bld">
          <div class="price">
            <img src="../../../assets/images/pricing/Slice 2.png" alt="" class="square">
            <span class="topic">
              <p>Lunch</p>
              <span>$15</span>/ pcs
            </span>
          </div>
          <ul>
            <li>Lorem Ipsum Dolor Sit Amet</li>
            <li>Ipmo Doj Samat</li>
            <li>Sed do eiusmod tempor</li>
          </ul>
          <div class="btn_case">
            <button>Add</button>
          </div>
        </div>
        <div class="bld">
          <div class="price">
            <img src="../../../assets/images/pricing/Slice 3.png" alt="" class="square">
            <span class="topic">
              <p>Dinner</p>
              <span>$15</span>/ pcs
            </span>
          </div>
          <ul>
            <li>Lorem Ipsum Dolor Sit Amet</li>
            <li>Ipmo Doj Samat</li>
            <li>Sed do eiusmod tempor</li>
          </ul>
          <div class="btn_case">
            <button>Add</button>
          </div>
        </div>
      </div>
    </div>

    <div class="com">
      <span class="com-title">
        <p class="cc">COMMITMENT</p>
        <p class="cw">Why we are good for you</p>
        <p class="cl">Lorem ipsum dolor sit amet, consectetur adipiscing elit form du lahoke.</p>
      </span>
      <div class="information">
        <div class="txt-info">
          <div class="circle">
            <img src="../../../assets/images/home/star.png" alt="">
          </div>
          <p class="it">Top Rated</p>
          <p class="ti">Lorem ipsum dolor sit amet, consectetur adipiscing elit form du lahoke.
          </p>
        </div>
        <div class="right">
          <span class="time-info">
            <p class="delivery" id="ed">Express Delivery</p>
            <p class="delivery" id="lor">Lorem ipsum dolor sit amet, consectetur adipiscing elit form du lahoke.</p>
            <span class="time">
              <span class="delivery" id="number">37</span>
              min
            </span>
            <p class="delivery" id="adt">Average delivery times.</p>
          </span>
          <button class="more">See More</button>
        </div>
      </div>
    </div>
    
  </div>
</div>

<div class="faq">

  <div class="container">
    <div class="que">
      <span class="title">
        <p class="pr pr--r">FAQ</p>
        <p class="jesfy jesfy--r">Got Question?</p>
        <p class="ti ti--s">Perfect,We’ve got  the answers!</p>
      </span>
    </div>
    <div class="ans">
      <div class="lf">
        <div class="answer">
          <p>Lorem Ipsum Dolor Sit Amet Sed?</p>
        </div>
        <div class="answer">
          <p>Lorem Ipsum Dolor Sit Amet Sed?</p>
        </div>
      </div>
      <div class="ri">
        <div class="answer">
          <p>Lorem Ipsum Dolor Sit Amet Sed?</p>
        </div>
        <div class="answer">
          <p>Lorem Ipsum Dolor Sit Amet Sed?</p>
        </div>
      </div>
    </div>
  </div>

  <div class="test">
    <div class="tt">
      <img src="../../../assets/images/home/Picture Profile.png" alt="" class="jonas">
    </div>
    <div class="dd">
      <p class="cc">TESTIMONIALS</p>
      <p class="wts">What they say?</p>
      <img src="../../../assets/images/home/“.png" alt="">
      <p class="cs">Complete Selection</p>
      <p class="ti ti--r">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
    </div>
  </div>

</div>

<div class="container">
  <div class="mj">
    <p class="mason">Mason Jonas</p>
    <p class="desc">Human Resource Development</p>
  </div>
</div>