<div class="foods">
  <div class="container">

    <div class="products">
      <h2>Today’s featured</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</p>
    </div>

    <div class="choose">
      
    </div>

    <div class="menu">
      <span class="tittle-three">
        <p class="pr">MENUS</p>
        <p class="jesfy">Menus for today</p>
        <p class="ti">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut.</p>
      </span>
      <div class="prod">
        <img src="../../../assets/images/foods/Picture.jpg" alt="">
        <div class="mn">
          <span class="bm">
            <p class="bbm">Breakfast Monday</p>
            <p class="ti">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
              labort.</p>
          </span>
          <div class="in">
            <div class="etap etap--r">
              <span class="ins">
                <p class="inm">Main Course</p>
                <p class="ti">Lorem ipsum dolor sit amet.</p>
              </span>
              <div class="circle">
                <img src="../../../assets/images/home/fish 1.png" alt="">
              </div>
            </div>
            <div class="etap etap--r">
              <span class="ins">
                <p class="inm">Dessert</p>
                <p class="ti">Lorem ipsum dolor sit amet.</p>
              </span>
              <div class="circle">
                <img src="../../../assets/images/home/icecream.png" alt="">
              </div>
            </div>
            <div class="etap etap--r">
              <span class="ins">
                <p class="inm">Appetizer</p>
                <p class="ti">Lorem ipsum dolor sit amet.</p>
              </span>
              <div class="circle">
                <img src="../../../assets/images/home/cocktail 1.png" alt="">
              </div>
            </div>
          </div>
          <div class="rl">
            <img src="../../../assets/images/home/vector_l.png" alt="" class="l">
            <img src="../../../assets/images/home/vector_r.png" alt="" class="r">
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="last">
  <div class="container container--r">
    <p class="scc">SUBSCRIBE</p>
    <p class="cws">Perfect Solutions
      for Your Foods</p>
    <p class="tis">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
    <button class="subscribe subscribe--r">Subscribe</button>
  </div>
</div>
