<div class="about">
  <div class="container">

    <div class="trust">
      <p class="tu">Trust Us, All Set Just For You</p>
      <p class="txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</p>
      <button class="subscribe">Subscribe</button>
    </div>

    <div class="com">
      <div class="information">
        <div class="right">
          <span class="time-info">
            <p class="cc">ABOUT US</p>
            <p class="delivery" id="ed">We Provide the next
              levels of catering service</p>
            <p class="delivery" id="lor">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
          </span>
        </div>
        <div class="txt-info">
          <div class="circle">
            <img src="../../../assets/images/home/star.png" alt="">
          </div>
          <p class="it">Top Rated</p>
          <p class="ti">Lorem ipsum dolor sit amet, consectetur adipiscing elit form du lahoke.
          </p>
        </div>
      </div>
    </div>

    <div class="gallery">
      <span class="title">
        <p class="pr">GALERY</p>
        <p class="jesfy">Our story</p>
        <p class="ti ti--z">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut.</p>
      </span>
      <div class="gal">
        <img src="../../../assets/images/about/Pic 1.jpg" alt="">
        <img src="../../../assets/images/about/Pic 2.jpg" alt="" class="marg">
      </div>
      <div class="gall">
        <img src="../../../assets/images/about/Pic 3.jpg" alt="" class="marb">
        <img src="../../../assets/images/about/Pic 4.jpg" alt="" class="marg">
      </div>
    </div>

    <div class="team">
      <img src="../../../assets/images/about/team.jpg" alt="">
      <span class="bm">
        <p class="pr pr--p">VALUE</p>
        <p class="bbm">Our Value</p>
        <p class="ti ti--x">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut.</p>
      </span>
    </div>

    <div class="value">
      <span class="title">
        <p class="pr">VALUE</p>
        <p class="jesfy">Our Value</p>
        <p class="ti ti--z">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</p>
      </span>
      <div class="fst">
        <div class="f">
          <div class="square">
            <img src="../../../assets/images/home/lemon.png" alt="">
          </div>
          <p class="it it--p">Fresh</p>
          <p class="ti">Lorem ipsum dolor sit amet, consectetur adipiscing elit form du lahoke.
          </p>
        </div>
        <div class="f">
          <div class="square">
            <img src="../../../assets/images/about/food 1.png" alt="">
          </div>
          <p class="it it--p">Serving Best</p>
          <p class="ti">Lorem ipsum dolor sit amet, consectetur adipiscing elit form du lahoke.
          </p>
        </div>
        <div class="f">
          <div class="square">
            <img src="../../../assets/images/home/star.png" alt="">
          </div>
          <p class="it it--p">Top Rated</p>
          <p class="ti">Lorem ipsum dolor sit amet, consectetur adipiscing elit form du lahoke.
          </p>
        </div>
      </div>
    </div>

  </div>
</div>
