<div class="home">

  <div class="cover">
    <div class="left">
      <span class="txt-group">
        <span class="title-group">
          <span class="tt">
            <p class="title-top">Changing your catering way</p>
          </span>
          <span class="tbo">
            <p class="title-black">Perfect Foods</p>
            <p class="title-orange">Better Live</p>
          </span>
        </span>
        <p class="txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod perferendis voluptatum impedit
          quis hic recusandae perspiciatis laudantium sunt delectus asperiores.</p>
      </span>
      <button class="subscribe">Subscribe</button>
    </div>
    <div class="image">
      <img src="../../../assets/images/home/image_head.png" alt="">
    </div>
  </div>

</div>

<div class="home">
  <div class="container">

    <div class="com">
      <span class="com-title">
        <p class="cc">COMMITMENT</p>
        <p class="cw">Why we are good for you</p>
        <p class="cl">Lorem ipsum dolor sit amet, consectetur adipiscing elit form du lahoke.</p>
      </span>
      <div class="information">
        <div class="txt-info">
          <div class="circle">
            <img src="../../../assets/images/home/star.png" alt="">
          </div>
          <p class="it">Top Rated</p>
          <p class="ti">Lorem ipsum dolor sit amet, consectetur adipiscing elit form du lahoke.
          </p>
        </div>
        <div class="txt-info">
          <div class="circle">
            <img src="../../../assets/images/home/lemon.png" alt="">
          </div>
          <p class="it">Fresh Food</p>
          <p class="ti">Lorem ipsum dolor sit amet, consectetur adipiscing elit form du lahoke.
          </p>
        </div>
        <div class="right">
          <span class="time-info">
            <p class="delivery" id="ed">Express Delivery</p>
            <p class="delivery" id="lor">Lorem ipsum dolor sit amet, consectetur adipiscing elit form du lahoke.</p>
            <span class="time">
              <span class="delivery" id="number">37</span>
              min
            </span>
            <p class="delivery" id="adt">Average delivery times.</p>
          </span>
          <button class="more">See More</button>
        </div>
      </div>
    </div>

    <div class="process">
      <span class="tittle-three">
        <p class="pr">PROCESS</p>
        <p class="jesfy">Just easy step for you</p>
      </span>
      <div class="p3">
        <div class="instruction">
          <div class="etaps">
            <div class="etap">
              <span>01</span>
              <div class="inst">
                Select your best menus
                <p class="ti">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                  ut.</p>
              </div>
            </div>
            <hr>
            <div class="etap">
              <span>02</span>
              <div class="inst">
                Complete the payment
                <p class="ti">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                  ut.</p>
              </div>
            </div>
            <hr>
            <div class="etap">
              <span>03</span>
              <div class="inst">
                Complete the payment
                <p class="ti">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                  ut.</p>
              </div>
            </div>
          </div>
        </div>
        <img src="../../../assets/images/home/instruction.jpg" alt="">
      </div>
    </div>

    <div class="test">
      <div class="ttt">
        <img src="../../../assets/images/home/Picture Profile.png" alt="">
        <div class="mj">
          <p class="mason">Mason Jonas</p>
          <p class="desc">Human Resource Development</p>
        </div>
      </div>
      <div class="dd">
        <p class="cc">TESTIMONIALS</p>
        <p class="wts">What they say?</p>
        <img src="../../../assets/images/home/“.png" alt="">
        <p class="cs">Complete Selection</p>
        <p class="ti ti--r">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
      </div>
    </div>

  </div>
</div>

<div class="product">
  <div class="container">
    <span class="tittle-three">
      <p class="pr">PRODUCT</p>
      <p class="jesfy">Menus for tofday</p>
      <p class="ti">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut.</p>
    </span>
    <div class="prod">
      <img src="../../../assets/images/home/food.jpg" alt="">
      <div class="mn">
        <span class="bm">
          <p class="bbm">Breakfast Monday</p>
          <p class="ti">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labort.</p>
        </span>
        <div class="in">
          <div class="etap etap--r">
            <span class="ins">
              <p class="inm">Main Course</p>
              <p class="ti">Lorem ipsum dolor sit amet.</p>
            </span>
            <div class="circle circle--r">
              <img src="../../../assets/images/home/fish 1.png" alt="">
            </div>
          </div>
          <div class="etap etap--r">
            <span class="ins">
              <p class="inm">Dessert</p>
              <p class="ti">Lorem ipsum dolor sit amet.</p>
            </span>
            <div class="circle circle--r">
              <img src="../../../assets/images/home/icecream.png" alt="">
            </div>
          </div>
          <div class="etap etap--r">
            <span class="ins">
              <p class="inm">Appetizer</p>
              <p class="ti">Lorem ipsum dolor sit amet.</p>
            </span>
            <div class="circle circle--r">
              <img src="../../../assets/images/home/cocktail 1.png" alt="">
            </div>
          </div>
        </div>
        <div class="rl">
          <img src="../../../assets/images/home/vector_l.png" alt="" class="l">
          <img src="../../../assets/images/home/vector_r.png" alt="" class="r">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="last">
  <div class="container container--r">
    <p class="scc">SUBSCRIBE</p>
    <p class="cws">Perfect Solutions
      for Your Foods</p>
    <p class="tis">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
    <button class="subscribe subscribe--r">Subscribe</button>
  </div>
</div>
