@font-face {
  font-family: 'Poppins';
  src: url(../../fonts/poppins/Poppins-Black.ttf);
}

* {
  font-family: 'Poppins';
}

.footer {
  width: 100%;
  max-width: 1440px;
}

.container {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.social {
  width: 100%;
  max-width: 250px;
  margin-top: 74px;

  & p {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 180%;
    letter-spacing: 0.5px;
    color: #59423C;
    margin-top: 54px;
  }
}

.sm {
  width: 150px;
  height: 15px;
  margin-top: 62px;

  & img {
    margin-right: 30px;
  }
}

.nav {
  display: flex;

  & .foods {
    display: grid;
    margin-right: 134px;
  }
}

.txt {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0.5px;
  color: #59423C;
  margin-bottom: 7px;
}

.txt_nav {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 180%;
  letter-spacing: 0.5px;
  color: #59423C;
  text-decoration: none;
  margin-bottom: 15px;
}

.info {
  margin-top: 78px;
  display: flex;
  justify-content: space-between;

  & .txt_nav {
    margin-right: 89px;
  }
}

.txt_nav:hover {
  color: black;
}
