<div class="footer">
  <div class="container">
    <div class="social">
      <div class="sm">
        <img src="../../images/footer/twitter.png" alt="">
        <img src="../../images/footer/facebook.png" alt="">
        <img src="../../images/footer/google.png" alt="">
        <img src="../../images/footer/instagram.png" alt="">
      </div>
      <p>© 2020 Foodology. All rights reserved</p>
    </div>
    <div class="navigation">
      <div class="nav">
        <div class="foods">
          <p class="txt">Foods</p>
          <a [routerLink]="[ '/pricing' ]" class="txt_nav">Pricing</a>
          <a href="#" class="txt_nav">Menus</a>
        </div>
        <div class="help">
          <p class="txt">Help</p>
          <a [routerLink]="[ '/about' ]" class="txt_nav">About</a>
        </div>
      </div>
      <div class="info">
        <a href="#" class="txt_nav">Privacy Policy</a>
        <a href="#" class="txt_nav">Terms & Conditions</a>
      </div>
    </div>
  </div>
</div>
